.certificate-section{
    display: flex;
    flex-direction: column;
    gap: 84px;
    background-image: url(../assets/images/certificate-bg.svg);
    background-repeat: no-repeat;
    background-position: center right;
    height: 150vh;
    padding-top: 100px;
    padding-bottom: 150px;
}

.img-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate{
    width: 790px;
}
.certificate img{
    width: 100%;
    border-radius: 32px;

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .certificate-section{
        height: 200vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .certificate-section{
        background-image: none;
        height: 100vh;
    }
}