.projects-section{
    display: flex;
    flex-direction: column;
    gap: 84px;
    background-image: url(../assets/images/projects-bg.svg);
    background-repeat: no-repeat;
    background-position: center right;
    height: 150vh;
    padding-bottom: 150px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .projects-section{
        /* background-position: bottom right; */
        height: 200vh;
        padding-bottom: 250px;
    }
}