.projects-section{
    display: flex;
    flex-direction: column;
    gap: 84px;
    background-image: url(../assets/images/projects-bg.svg);
    background-repeat: no-repeat;
    background-position: center right;
    height: 150vh;
    padding-bottom: 150px;
}