.section-title{
    position: relative;
    width: 50%;
}

.underline-div{
    height: 32px;
    width: 40%;
    background: var(--primary-dark);
    position: absolute;
    top: 56%;
    left: 8px;
    z-index: -1;
}